/* =============
    hero
============= */


#hero-section {

    .hero-container {

        img {
            width: 100vw;
            height: 100vh;
            background: url(img/hero/hero-cover-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        h1 {
           
            position: absolute;
            left: 286px;
            top: 816px;
            // background-color:red;
            background-size: cover;
            

        }

    }

}