/* =============
    news
============= */
#news-section .news-grid #popular-news-section .RT-col .tittle-container h2 {
    background-color: pink;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
  }