/* =============
    news
============= */
#news-section {
    background-color: blue;

    .news-grid {

        #popular-news-section {
            

            .RT-col{

                .tittle-container{

                    h2{
                        color: green;
                        

                    }
                    
              
                }

              
            }
           
           
        }

        #latest-news-section{
            background-color: red;
           


        }




    }

}